# .env file

# Google Sheets + Apps Script API key --- NOTE: Only for readonly ---
key=

# Google Sheets "SIP 2026 v2" spreadsheet ID
SIP_SHEET_ID=

# Database credentials
DB_USER=
DB_PASSWORD=
DB_NAME=

NEXT_PUBLIC_API_URL=